*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

a{
    cursor: pointer;
}

.mantine-Accordion-content{
    box-sizing: border-box;
    padding:0;
}

.player-wrapper{
    width:100%;
    position:relative;
}

.controls-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0,0,0,0.6);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}